body {
    overflow-x: hidden;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.texto {
    font-size: 1rem;
    font-weight: 500;
}

.titulo {
    font-size: 2rem;
    font-weight: 700;
}

.subtitle {
    font-weight: 700;
    font-size: 1.6rem;
}

.sub-subtitle {
    font-weight: 700;
    font-size: 1.3rem;
}

.sub-texto {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9rem;
    font-weight: 400;
}


.sublime {
    border-bottom: 2px solid;
    width: 30%;
    margin-bottom: 60px;
    margin-top: 5px;
}

.landing {
    padding: 4rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing .content-landing a {
    padding: 0.5rem 2.3rem;
    background: #FF00F5;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
}

/* .landing .content-landing a:hover {
    transform: translateY(-10px);
} */

.landing .content-landing h2 {
    margin-bottom: 0.6rem;
}

.landing .content-landing p {
    margin-bottom: 2.5rem;
}

.landing .img-landing {
    width: 100%;
}

.landing .img-landing img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.seta-baixo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}

.seta-baixo img {
    padding: 0.8rem;
    border-radius: 50px;
    background: #6805B7;
    box-shadow: 0px 4px 10px 1px rgba(158, 0, 255, 0.3);
}

.cursos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
}

.cursos .content-cursos {
    background: #6805B7;
    padding: 4rem 1.5rem;
    border-radius: 0 30px 30px 0;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 85%;
}

.cursos .content-cursos .subtitle {
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
}

.cursos .content-cursos .sub-texto {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 2.5rem;
}

.cursos .content-cursos a {
    padding: 0.5rem 1.6rem;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    border: solid 1px #fff;
    width: 110px;
    display: flex;
    transition: all .2s ease;
}


.cursos .content-cursos a:hover {
    background: rgba(255, 255, 255, 0.3);
}

.cursos .content-cursos a img {
    margin-left: 10px;
    justify-content: center;
}


.cursos .cards-cursos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0rem 0rem;
}

.cursos .cards-cursos .card {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.cursos .cards-cursos .card img {
    width: 200px;
}

.vantagens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 1.5rem;
    align-items: center;
}

.vantagens .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.vantagens .cards-vantagens {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 70%;
    padding: 0rem 1.5rem;
}

.vantagens .cards-vantagens .vantagem .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background: #0C043D;
    margin-bottom: 15px;
}

.vantagens .cards-vantagens .vantagem .sub-subtitle {
    margin-bottom: 7px;
}

.metodos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 1.5rem;
    align-items: center;
    background: #6805B7;
}

.metodos .title-metodo .sub-texto {
    padding: 1rem;
    color: rgba(255, 255, 255, 0.7);
    border-width: 0 0 0 3px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      rgba(158, 0, 255, 1), 
      rgba(158, 0, 255, 0)) 1 100%;
    margin-top: 30px;
    font-size: 0.9rem;
}

.metodos .cards-metodo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.metodos .cards-metodo .metodo {
    background: linear-gradient(143.83deg, rgba(158, 0, 255, 0.3) 15.21%, rgba(158, 0, 255, 0) 113.73%);
    width: 300px;
    height: 350px;
    box-sizing: border-box;
    padding: 3rem 1.5rem;
    border-radius: 30px;
    margin-top: 50px;
}

.metodos .cards-metodo .metodo img {
    width: 80px;
    margin-bottom: 30px;
}

.metodos .cards-metodo .metodo .sub-subtitle {
    font-size: 1.3rem;
}

.metodos .cards-metodo .metodo .sub-texto {
    font-size: 0.9rem;
    margin: 10px 0px;
}

.depoimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1.5rem;
}

.depoimentos .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.depoimentos img {
    width: 100%;
}

.conexoes {
    background: #6805B7;
}

.conexoes .img-conexoes img {
    width: 100%;
}

.conexoes .content-conexoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1.5rem 3rem;
}

.conexoes .content-conexoes span {
    color: #00F3E5;
}

.conexoes .content-conexoes .sub-texto {
    margin: 10px 0 30px 0;
}

.conexoes .content-conexoes a {
    padding: 0.5rem 1.6rem;
    border-radius: 50px;
    color: #fff;
    background: #9E00FF;
    font-weight: 600;
    width: 120px;
    display: flex;
    transition: all .2s ease;
}

.conexoes .content-conexoes a:hover {
    background: rgba(158, 0, 255, 0.6);
}


/* RESPONSIVIDADE */

@media (max-width: 600px) {
    .subtitle {
        font-size: 1.3rem;
    }

    .sub-subtitle {
        font-weight: 700;
        font-size: 1.1rem;
    }
}

@media (min-width: 1100px) {

    .sublime {
        width: 15%;
    }

    .landing {
        padding: 0rem 8rem;
        flex-direction: row;
        align-items: center;
    }

    .landing .content-landing {
        width: 40%;
        margin-right: 50px;
    }

    .landing .img-landing {
        width: 60%;
    }

    .landing .img-landing img {
        width: 95%;
    }

    .cursos {
        flex-direction: row;
        align-items: center;
    }

    .cursos .content-cursos a {
        max-width: 22%;
    }

    .cursos .content-cursos {
        width: 80%;
    }

    .cursos .cards-cursos {
        padding: 0rem 8rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cursos .cards-cursos .card img {
        width: 170px;
    }

    .vantagens .cards-vantagens {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 3rem 0rem;
        width: 90%;
        gap: 70px;
    }

    .metodos .title-metodo {
        display: flex;
        align-items: center;
        width: 60%;
    }

    .metodos .title-metodo .subtitle {
        width: 80%;
        margin-right: 120px;
    }

    .metodos .cards-metodo {
        flex-direction: row;
        
        width: 80%;
        align-items: center;
        justify-content: space-evenly;
    }

    .depoimentos .titulo {
        width: 50%;
    }

    .depoimentos img {
        width: 60%;
    }

    .conexoes {
        display: flex;
    }

    .conexoes .img-conexoes {
        width: 60%;
    }

    .conexoes .content-conexoes {
        width: 30%;
    }
}
